@model VmStudentDashboard
@{
    ViewData["Title"] = "Exams";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 page_title">
                    <div>
                        <h2>Exams</h2>
                        <p class="d-none d-sm-block"><a asp-controller="studentdashboard" asp-action="index" >Dashboard</a> / Events</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card_body">
                        <div class="status">
                            <div class="exam">
                                <p>Exam </p>
                                <span></span>
                            </div>
                        </div>
                        <div class="event">
                            <div class="row">

                            @{
                                int i = 0;
                            }
                            @foreach (var item in Model.Exams)
                             {
                                if (item.ClassToSubject.Class.Id==Model.Student.ClassId)
                                {
                                     i++;
                                 <div class="col-12 col-lg-3 col-md-6 col-sm-12">
                                    <a href="#">@i</a>
                                    <div class="event-item">
                                        <div class="d-flex justify-content-between">
                                            <p><b>@item.Name</b></p>
                                            <span style=" background-color: rgb(248, 73, 73);"></span>
                                        </div>
                                        <small><b><i>@item.ClassToSubject.Class.Name</i> <i>@item.ClassToSubject.Subject.Name</i></b></small>
                                        <p>@item.StartTime.ToString("hh:mm tt")-@item.EndTime.ToString("hh:mm tt")</p>
                                        <p>@item.EventDate.ToString("dd/MM/yyyy")</p>
                                    </div>
                                </div>
                                }
                                
                             }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

