@model PreSkool_project.Models.Teacher

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 page_title">
                    <div>
                        <h2>Edit Teachers</h2>
                    <p class="d-none d-sm-block"><a asp-controller="Teacher" asp-action="index">Teachers</a> / Edit Teachers</p>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-12">
                    <div class="card_body">
                        <form asp-controller="teacher" asp-action="Edit" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-12">
                                    <h2><span>Basic Details</span></h2>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="" class="form-label">First Name</label>
                                    <input asp-for="@Model.Name" class="form-control" />
                                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="" class="form-label">Last Name</label>
                                    <input asp-for="@Model.Surname" class="form-control" />
                                    <span asp-validation-for="@Model.Surname" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label asp-for="@Model.GenderId" class="form-label">Gender</label>
                                    <select asp-for="@Model.GenderId" class ="form-control" asp-items="ViewBag.GenderId">
                                        <option selected disabled>Select Section</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label asp-for="@Model.SubjectId" class="form-label">Subject</label>
                                    <select asp-for="@Model.SubjectId" class ="form-control" asp-items="ViewBag.SubjectId">
                                        <option selected disabled>Select Subject</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="" class="form-label">Mobile Number</label>
                                     <input asp-for="@Model.MobilNumber" class="form-control" />
                                     <span asp-validation-for="@Model.MobilNumber" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="" class="form-label">Qualification</label>
                                    <input asp-for="@Model.Qualification" class="form-control" />
                                    <span asp-validation-for="@Model.Qualification" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="" class="form-label">Date of Birth</label>
                                    <input asp-for="@Model.DateOfBirth" type="date" class="form-control" />
                                    <span asp-validation-for="@Model.DateOfBirth" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="" class="form-label">Joining Date</label>
                                    <input asp-for="@Model.JoiningDate" type="date" class="form-control" />
                                    <span asp-validation-for="@Model.JoiningDate" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="" class="form-label">Experience</label>
                                    <input asp-for="@Model.Experience" type="number" class="form-control" />
                                    <span asp-validation-for="@Model.Experience" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="formFile" class="form-label">Teacher Image</label>
                                    <input asp-for="@Model.ImageFile" style="height: auto;" type="file"  class="form-control" />
                                    <span asp-validation-for="@Model.ImageFile" class="text-danger"></span>
                                </div>
    
                                <div class="col-12">
                                    <h2><span>Address</span></h2>
                                </div>
                                <div class="col-12">
                                    <label for="" class="form-label">Address</label>
                                    <input asp-for="@Model.Address" class="form-control" />
                                    <span asp-validation-for="@Model.Address" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="" class="form-label">City</label>
                                    <input asp-for="@Model.City" class="form-control" />
                                    <span asp-validation-for="@Model.City" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="" class="form-label">State</label>
                                     <input asp-for="@Model.State" class="form-control" />
                                     <span asp-validation-for="@Model.State" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="" class="form-label">Zip Code</label>
                                    <input asp-for="@Model.ZipCode" class="form-control" />
                                    <span asp-validation-for="@Model.ZipCode" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="" class="form-label">Country</label>
                                    <input asp-for="@Model.Country" class="form-control" />
                                    <span asp-validation-for="@Model.Country" class="text-danger"></span>
                                </div>
                            </div>
                            <input type="hidden" asp-for="Id" />
                            <input asp-for="TeacherImage" hidden />
                            <input asp-for="CustomUserId" hidden />
                            <input asp-for="CreatedDate" hidden />
                            <button type="submit" class="btn btn_submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
